* {
	margin: 0;
	padding: 0;
}
.super {
	display: none;
}
#container {
	width: 1920px;
	height: 1080px;
	position: absolute;
}

body {
	font-family: Helvetica, Arial, sans-serif;
  max-height: 1920px;
  max-height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

body.debug {
  background: url(../gfx/debug_bg.gif) no-repeat top left;
  background-size: 1920px 1080px;
}
body.debug #container {
/*  background: url(../gfx/1080_safe_chart.png) no-repeat top left;
*/  border-bottom: 1px solid white;
  border-right: 1px solid white;
  background: url(../gfx/nrk_logo_start.png) no-repeat;
  background-size: 85px auto;
  background-position: top 66px right 120px;
}

/*.somesuper {
    height : 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.somesuper > div  {
  width: 500px;
  background: white;
  padding: 20px;
  color: black;
}
*/


.nrklogo {
  width: 210px;
  height: 75px;
  background: url(../gfx/nrk_logo_start.png) no-repeat top left;
  position: static!important;
  margin: 502px auto 0 auto;
}
.locationSuper {
  top: 133px;
  right: 100px;
  text-align: right;
  color: white;
}

.staticimg {

}

.staticimg {
  text-align: center;
  width: 1920px;
  height: 1080px;
}
.staticimg .title {
  margin-bottom: 20px;
}
.staticimg .credits {
  margin-top: 10px;
}
.staticimg:before {
  content: '\200B';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }
 
.staticimg .inner {
  display: inline-block;
  padding: 20px;
  background: white;
  max-width: 1400px;
  vertical-align: middle;
  width: auto;
}
.staticimg img {
  max-width: 1400px;
  height: auto;
  max-height: 800px;
}

.sombiSlider {
  width: 1200px;
  height: 750px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -600px;
  margin-top: -375px;
  z-index: 2;
  background: white;
}

.sombiSlider .shower {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 750px;
}

.sombiSlider .titles {
  position: absolute;
  width: 340px;
  top: 30px;
  right: 30px;
  height: 600px;
  color: black;
}

.somesuper.twitter .title, .somesuper.facebook .title {
  padding-right: 50px;
  background: url(../gfx/white_facebook_logo.png) no-repeat top right;
  background-size: 50px auto;
}
.somesuper.twitter .title {
  background: url(../gfx/white_twitter_logo.png) no-repeat top right;
  background-size: 50px auto;
}



/*
Letter FX
*/
.letterfx{display:inline-block;margin:0;padding:0;transition:all 1s;-ms-transition:all 1s;-webkit-transition:all 1s}.letterfx-spin-before{transform:rotate(3600deg);-ms-transform:rotate(3600deg);-webkit-transform:rotate(3600deg)}.letterfx-spin-after{transform:none}.letterfx-fade-before{opacity:0}.letterfx-grow-before{transform:scale(0,0);-ms-transform:scale(0,0);-webkit-transform:scale(0,0)}.letterfx-grow-after{transform:none}.letterfx-smear-before{color:transparent;text-shadow:-1px -1px 25px transparent}.letterfx-smear-after{color:inherit;text-shadow:0 0 #333}.letterfx-fall-before{visibility:hidden;transform:scale(3,3);-ms-transform:scale(3,3);-webkit-transform:scale(3,3)}.letterfx-fall-after{transform:scale(1,1);-ms-transform:scale(1,1);-webkit-transform:scale(1,1);text-shadow:0}.letterfx-swirl-before{visibility:hidden;transform:scale(3,3) rotate(3600deg);-ms-transform:scale(3,3) rotate(3600deg);-webkit-transform:scale(3,3) rotate(3600deg)}.letterfx-swirl-after{transform:none text-shadow:0}.letterfx-wave-container .letterfx{position:relative}.letterfx-wave-before{bottom:0}.letterfx-wave-after{bottom:15px}.letterfx-fly-left-container .letterfx,.letterfx-fly-right-container .letterfx,.letterfx-fly-top-container .letterfx,.letterfx-fly-bottom-container .letterfx{position:relative}.letterfx-fly-left-before{left:-50em}.letterfx-fly-left-after{left:0}.letterfx-fly-right-before{right:-50em}.letterfx-fly-right-after{right:0}.letterfx-fly-top-before{top:-20em}.letterfx-fly-top-after{top:0}.letterfx-fly-bottom-before{bottom:-20em}.letterfx-fly-bottom-after{bottom:0}
