* {
	margin: 0;
	padding: 0;
}
.super {
	display: none;
}
#container {
	width: 1920px;
	height: 1080px;
	position: absolute;
}

body {
	font-family: Helvetica, Arial, sans-serif;
  max-height: 1920px;
  max-height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

body.debug {
}
body.debug #container {
  background: green;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

/*.somesuper {
    height : 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.somesuper > div  {
  width: 500px;
  background: white;
  padding: 20px;
  color: black;
}
*/


.sombiSlider {
  width: 1200px;
  height: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -600px;
  margin-top: -400px;
  z-index: 2;
  background: white;
}

.sombiSlider .shower {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
}

.sombiSlider .titles {
  position: absolute;
  width: 340px;
  top: 30px;
  right: 30px;
  height: 600px;
  color: black;
}

.somesuper.twitter .title, .somesuper.facebook .title {
  padding-right: 50px;
  background: url(../gfx/white_facebook_logo.png) no-repeat top right;
  background-size: 50px auto;
}
.somesuper.twitter .title {
  background: url(../gfx/white_twitter_logo.png) no-repeat top right;
  background-size: 50px auto;
}
