@font-face {
  font-family: 'LFTBook';
  src: url('/media/fonts/LFT_Etica_BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'LFTBold';
  src: url('/media/fonts/LFT_Etica_ExtraboldItalic.woff') format('woff');
}


body {
	font-family: "LFTBold";
	color: white;
}

.super {
	position: absolute;
}

.super video {
	position: absolute;
}
.sombiSlider .titles h2:before {
	content: "– ";
}
.sombiSlider .titles h2 {
	font-size: 20px;
	margin-top: 10px;
}
.sombiSlider .titles p {
  font-family: "LFTBook";
  font-size: 30px;
}

.infosuper {
}

.infobox, .somesuper {
	max-width: 430px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);	
    color: white;	
}
.infobox .title, .somesuper .title {
    font-size: 50px;
    text-transform: uppercase;
}
.infobox .text, .somesuper .text {
	font-size: 30px;
	font-family: "LFTBook";
}
.infobox video, .somesuper video {
	position: absolute;
}

.personsuper div.name, .personsuper div.title {
	left: 0;
}
.personsuper div.name span, .personsuper div.title span {
	opacity: 0;
}

.personsuper, .personsuper div.name, .personsuper div.title {
	width: 900px;
}
.personsuper {
	color: white;
	min-height: 150px;
	position: absolute;
}
.personsuper div.name {
	position: absolute;
	overflow: hidden;
	height: 80px;
	font-size: 60px;
	top: 0;
}
.personsuper div.name span {
	position: absolute;
	display: block;
	text-transform: uppercase;
	font-weight: 100;
	bottom: -100px;
	width: 100%;
}
.personsuper div.title {
	position: absolute;
	top: 70px;
	overflow: hidden;
	height: 60px;
	font-size: 45px;
}
.personsuper div.title span {
	top: -100px;
	position: absolute;
	font-family: "LFTBook";
	display: block;
	width: 100%;
}

.personsuper video {
	width: 200px;
	height: auto;
	position: absolute;
	left: -60px;
	top: -40px;
}

.topleft {
	top: 100px;
	left: 100px;
}
.topright {
	top: 100px;
	right: 100px;
}
.bottomleft {
	bottom: 100px;
	left: 100px;
}

.bottomright {
	bottom: 100px;
	right: 100px;
}

.personsuper.bottomright video, .personsuper.topright video {
	right: -50px;
	left: auto;
}

.personsuper.bottomright span, .personsuper.topright span {
	right: 2px;
	text-align: right;
}
.personsuper.bottomleft span, .personsuper.topleft span {
	left: 2px;
}