body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #200e47;
}


html {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}


.county, .countyImage {
	position: absolute;
	width: 242px;
	text-align: center;
}
.reference_map {
	width: 242px;
	height: 242px;
	top: 250px;
	right: 85px;
	display: none;
}

div.dot {
	margin-top: -11px;
	margin-left: -10px;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 40px;
	z-index: 9999;
	background: red;
	top: 130px;
	left: 130px;
}
.county {
	opacity: 0.67;
	color: white;
	font-weight: 500;
	font-size: 25px;
	display: none;
	letter-spacing: -1px;
	top: 195px;
	right: 85px;
	text-shadow: 2px 2px 2px #555;
}

.countyImage {
	display: block;
}

.super {
	position: absolute;
}

.infobox, .sombiSlider, .somesuper {
	width: 600px;
	bottom: 40px;
	padding-bottom: 5px;
}

.infobox .text, .somesuper .text {
	background: url(../gfx/minecraft/venstresuper_info.png) repeat-y bottom left;
	padding: 10px;
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: 500;
	padding-right: 80px!important;
}
.somesuper {

}
.personsuper {
	top: 323px;
}

.personsuper .name, .infobox .title, .somesuper .title, .somesuper.facebook .title, .somesuper.twitter .title, .sombiSlider .title, .staticimg .title {
	background: url(../gfx/minecraft/venstresuper_header.png) repeat-y top left;
	padding: 10px;
	font-size: 30px;
	overflow: hidden;
	font-weight: 500;
	height: 32px;
	color: white;
}

.personsuper .title, .infobox .who, .somesuper .who {
	background: url(../gfx/minecraft/venstresuper_info.png) repeat-y top left;
	display: inline-block;
	padding: 10px;
	font-size: 24px;
	height: 30px;
}

.infobox .who {
}

div.icon {
  background-size: 40px auto;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 60px;
  top: 7px;
}

div.icon.facebook {
  background-image: url(../gfx/white_facebook_logo.png);
}
div.icon.twitter {
  background-image: url(../gfx/white_twitter_logo.png);
  top: 10px;
}

.infobox .who, .somesuper .who {
	text-transform: none;
	display: block;
	width: 100%;
	background: url(../gfx/minecraft/venstresupring_transpararent.png) repeat-y top left;
}

.personsuper .name {
	height: 30px;
	background-position: 0 -4px;
}
.personsuper .name > span {
	display: block;
	margin-top: -4px;
}
.personsuper .name span span {
	letter-spacing: -1px;
}
.digassuper span span {
	letter-spacing: -1px;
}


.infosuper {
	padding: 10px 15px;
	font-size: 20px;
	background: white;
	width: 710px;
	font-weight: 500;
	bottom: 49px;
	left: 588px;
	outline: 4px solid rgba(255, 255, 255, 0.6);
}
.infosuper, .infobox, .somesuper {
}
.digassuper {}
.digassuper div.digas_extra {}
.digassuper div.digas_title {}
.personsuper .name, .personsuper .title, .personsuper .name, .infobox .title, .somesuper.facebook .title, .somesuper.twitter .title, .infobox .text, .somesuper .text, .sombiSlider .desc, .sombiSlider .title, .somesuper .who,.infobox .who, .staticimg .shower, .staticimg .title {
	padding-left: 96px;
	padding-right: 20px;
}

.spillersuper {
	bottom: 45px;
	right: 0;
	width: 560px;
}

.spillersuper .avatar {
	position: absolute;
	margin-top: -220px;
	z-index: 9999;
}

.spillersuper .real_name, .spillersuper .username, .spillersuper .metainfo, .spillersuper .minecraft_info {
	padding: 10px;
	margin-left: -55px;
	padding-left: 70px;
}


.spillersuper .username {
	background: url(../gfx/minecraft/spillersuper_header.png) repeat-y top left;
	font-size: 24px;
	height: 29px;
	color: white;
	font-weight: bold;
}

.spillersuper .real_name {
	background: url(../gfx/minecraft/spillersuper_navn.png) repeat-y top left;
	font-size: 24px;
	height: 29px;
	padding-top: 5px;
	padding-bottom: 5px;

}

.spillersuper .metainfo {
	background: url(../gfx/minecraft/spillersuper_sted.png) repeat-y top left;
	position: relative;
	font-size: 24px;
	font-weight: bold;
	height: 24px;
	padding-top: 5px;
}
.spillersuper .metainfo span.place {
	position: absolute;
	text-transform: capitalize;
	left: 70px;
	width: 260px;
}
.spillersuper .metainfo span.age {
	position: absolute;
	left: 355px;
	width: 200px;
}

.spillersuper .minecraft_info {
	background: transparent url(../gfx/minecraft/spillersuper_info.png) repeat-y bottom left;
	padding-bottom: 15px;
	font-weight: 500;
	overflow: hidden;
	padding-right: 70px;
	font-size: 20px;
}

.spillersuper .minecraft_info span {
	display: block;
}

.spillersuper .minecraft_info h3 {
	font-style: italic;
	font-weight: normal;
}

#model {
	display: inline-block;
	position: absolute;
	left: 250px;
}

.largemap {
	width: 752px;
    height: 755px;
    position: absolute;
    top: 36px;
    left: 74px;
    opacity: 0;
    overflow: hidden;
	transform: scale(0.95, 0.95);
	-webkit-transform: scale(0.95, 0.95);
}
.largemap iframe {
    margin-top: -234px;
    margin-left: -158px;
    width: 1200px;
    height: 1200px;
    zoom: 1;
}

.sombiSlider {
	height: 500px;
}
.sombiSlider img {
}



.sombiSlider {
	bottom: 386px;
	left: 0;
	position: absolute;
	height: 635px;
	width: 561px;
	z-index: 2;
	background: transparent url(../gfx/minecraft/instabg.png) no-repeat 0 46px;
	top: auto;
	margin-left: 0;
	margin-top: 0;
	border-right: 5px solid rbga(0, 0, 0, 0.5);
}

.sombiSlider .shower {
	position: absolute;
	top: 58px;
	left: 96px;
	width: 450px;
	height: 450px;
	overflow: hidden;
}

.sombiSlider .title {
	position: absolute;
	width: 115%;
	top: -5px;
	zoom: 1;
}
.sombiSlider h2, .staticimg h2 {
	font-size: 30px;
}

.sombiSlider .desc {
	position: absolute;
	top: 520px;
	font-size: 20px;
	font-weight: 500;
	width: 426px;
	height: 80px;
	display: table;
	overflow: hidden;
}
.sombiSlider .desc p {
	display: table-cell;
	vertical-align: middle;
}

.staticimg {
	width: 561px;
	position: absolute;
	top: 49px;
	left: 0;
	z-index: 2;
	background: transparent url(../gfx/minecraft/instabg.png) no-repeat 0 50px;
	border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}
.staticimg .title {

}
.staticimg .shower {
	padding-top: 20px;
	padding-bottom: 20px;
}
.staticimg img {
	width: 100%;
	height: auto;
}


.digassuper {
    border: 5px solid rgba(255, 255, 255, 0.5);
    right: 85px;
    bottom: 400px;	
}

.digassuper .digas_title {
    background: #3fc6ed;
    color: white;
    font-size: 30px;
    height: 37px;
    font-weight: 500;
    padding: 10px;	
}
.digassuper .digas_performer {
    background: rgba(255, 255, 255, 0.8);
    height: 24px;
    padding: 10px;
    font-size: 20px;	
}
.digassuper .digas_extra {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    height: 24px;
    font-style: italic;
    font-size: 20px;	
}

.ghost {
	text-indent: -9999px;
}


.ghost2 {
	opacity: 0;
}


.ghost3 {
	color: rgba(255, 255, 255, 0.01);
}
